#Gradle
.gradle/
build/
out/
classes/
.architectury-transformer/
local.properties
secrets.properties

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#fabric
run/
